/* HOME SCREEN */
#header1 {
  background-image: url("./assets/patternBG.svg");
  background-color: #00000090;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

#header2 {
  background-image: url("./assets/patternBG.svg");
  background-color: #00000040;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.glass-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: o 8px 32px o rgba(0, 0, 0, 0.37);
}

.pop-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: o 8px 32px o rgba(0, 0, 0, 0.37);
}

#movie-jumbotron {
  background-image: url("./assets/topgun.svg");
  background-color: #00000050;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
  height: auto;
}

#shows-jumbotron {
  background-image: url("./assets/fullHouse.svg");
  background-color: #00000050;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .poster {
    display: none;
  }
}

/* END HOME SCREEN */

/* SIGN IN / REGISTER */
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }
/* END SIGN IN / REGISTER */

/* STREAMING */

/* END STREAMING */