/* #header {
  background-image: url("./assets/patternBG.svg");
  background-color: #00000020;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
} */

.glass-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: o 8px 32px o rgba(0, 0, 0, 0.37);
  border-radius: 32px;
}

#movie-jumbotron {
  background-image: url("./assets/topgun.svg");
  background-color: #00000050;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
  height: auto;
}

#shows-jumbotron {
  background-image: url("./assets/fullHouse.svg");
  background-color: #00000050;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .poster {
    display: none;
  }
}